nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
}
ul li{
    display: inline-block;
    padding: 0px 10px;
}
a{
    color: white;
    text-decoration: none;
    
}
.item1{
    padding-top: 30px;
    padding-bottom: 0%;
}
a:hover{
    color: rgb(232, 210, 7);
}
.Navbar{
    background-color: black;
}
.Iso_logo{
    max-width: 150px;
    padding-bottom: 15px;
}
.Main_Image{
    max-width: 100%; 
}
.zone_c{
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 300px;
    
}
.zone_c2{
    align-items: center;
    display: flex;
    background-color: rgb(31, 185, 33);
    width: 100%;
    height: 150px;
}
.home_img{
    filter: brightness(10%);
    max-width: 100%;
}
.home_page1{
    max-width: 100%;
}
.knowledge_texts{
    background-color: #000000d2;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 10px;
    margin-left: 100px;
    width: 700px;
    display: flex;
    align-items: center;
    text-align: justify;
}
.subtitle1{
    color: white;
    
}
.paragraph{
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    text-align:  inherit;
    gap: 100px;
    width: 700px;
    margin-left: 20px;
    margin-right: 20px;
}
.homemade{
    background-color: black;
    display: flex;
    align-items: center;
}
.img_container{
    width: 450px;
    height: 250px;
    margin-right: 90px;
    margin-left: 150px;
    margin-top: 70px;
    margin-bottom: 50px;
    
}
.home_img1{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}
.comments{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 450px;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: justify;
    align-items: center;
    justify-content: space-between;
}
.zone_comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}
.h3_c{
    font-style: italic;
    font-size: medium;
    color: rgb(74, 74, 74);
}
.logo_p{
    width: 15%;   
}
h3{
    color: black;
}
h6{
    color: white;
}
span{
    color: aliceblue;
    text-align: center;
}
.contacts{
    align-items:center;
    display: flex;
    background-color: rgb(51, 50, 50);
    width: 100%;
    height: 200px;
    justify-content: space-around;

    padding-bottom: 15px;
    
}.contact{
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
}
.zone_contacts{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: grey;
}
.social{
    align-items: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
}
.zone_social{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 50%;
}
.button-name {
    align-items: center;
    appearance: none;
    background-color: #d19722;
    border-radius: 4px;
    border-width: 0;
    box-shadow:
    rgba(255, 255, 255, 0.2) 0 2px 4px,
    rgba(255, 255, 255, 0.15) 0 7px 13px -3px,
    #000000 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button-name:focus {
    box-shadow:
    #ff9b04 0 0 0 1.5px inset,
    rgba(255, 255, 255, 0.4) 0 2px 4px,
    rgba(255, 255, 255, 0.3) 0 7px 13px -3px,
    #ff9b04 0 -3px 0 inset;
}
.button-name:hover {
    box-shadow:
    rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
    #b07507 0 -3px 0 inset;
    transform: translateY(-2px);
    justify-content: space-between;
}
.button-name:active {
    box-shadow: #dfc207 0 3px 7px inset;
    transform: translateY(2px);
}
/* Section Body to the Information of Garibaldi
*/
.info{
    width: 100%;
    height: 2000px;
    background-color: white;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.Main_Image2{
    max-width: 100%; 
    filter: brightness(10%);
    position: relative;
}
.ours{
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 10px;
}
.info-container{
    background-color: rgb(255, 255, 255);
    width: 1400px;
    height: 500px;
    margin-top:100px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.info-container-2{
    background-color: rgb(255, 255, 255);
    width: 1400px;
    height: 500px;
    margin-top:0px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.info_container-3{
    background-color: rgb(255, 255, 255);
    width: 1400px;
    height: 500px;
    margin-top:0px;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.p-info-container{
    display: flex;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: #000000;
}
.taco{
    width: 100%;
}
/* Section Shows
*/
.Main_Image3{
    width: 100%;
    filter: brightness(50%);
    position: relative;
}
.img_shows_main img{
    position: absolute;
    
}
.container2{
    flex-direction: column;
}
.mariachi_vivo{
    z-index: 1;
    width: 40%;
    height: 40%;
    transform: translate(75%, 50%);
}
.events{
    display: grid;
    background-color: #2c2929;
    width: 100%;
    padding-top: 40px;
    height: 2800px;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.luis-container{
    background-color: rgb(182, 19, 19);
    width: 1370px;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.luis-cont1{
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    overflow: hidden;
}
.luis-cont1:hover img {
    transform: scale(1.2);
}
.luis-cont2{
    width: 100%;
    display: flex;
    height: 100%;
    overflow: hidden;
}
.luis-cont2:hover img {
    transform: scale(1.2);
}
.luis-cont3{
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}
.luis-cont3:hover img {
    transform: scale(1.2);
}
.camd-container{
    background-color:rgb(225, 0, 0);
    width: 1370px;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.camd-cont1{
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    overflow: hidden;
}
.camd-cont1:hover img {
    transform: scale(1.2);
}
.camd-cont2{
    width: 100%;
    display: flex;
    height: 100%;
    overflow: hidden;
}
.camd-cont2:hover img {
    transform: scale(1.2);
}
.camd-cont3{
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}
.camd-cont3:hover img {
    transform: scale(1.2);
}
.alan-container{
    background-color:rgb(225, 0, 0);
    width: 1370px;
    height: 500px;
    margin-bottom: 200px;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* Views Cart
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.img-cart1{
    padding-top: 0%;
    display: flex;
    z-index: 1;
    width: 40%;
    height: 100%;
    transform: translate(75%, 10%);
}
.info-ayce{
    width: 100%;
    height: 1000px;
    background-color: white;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.background-page{
    display: grid;
    grid-template-rows: 1140px, max-content;
}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/ 
.groups_img{
    position: relative;
}
.home-groups{
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-45%, 135%); 
    color: white; 
    padding: 10px;
    font-size: 40px
}
.groups_m{
    width: 100%;
    z-index: -1;
}
.groupings_m{
    position: absolute; 
    transform: translate(-300%, 0.5%); 
    width: 300px;
}
.publicity{
    position: absolute; 
    transform: translate(-170%, 80%); 
    width: 40%;
}
.info-groups{
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items:flex-start;
    background-color: #000000;
    width: 100%;
    height: 800px;
}
.info-groups-text{ 
    transform: translate(40%, 0.5%); 
    margin-bottom: 40px;
    color: white; 
    font-size: 40px;
}
.groups-container{
    background-color: rgb(255, 255, 255);
    width: 1370px;
    height: 400px;
    margin-bottom: 200px;
    display: grid;
    margin-right: 5%;
    margin-left: 5%;
    grid-template-columns: repeat(5, 1fr);
}
.column-groups-container{
    width: 400px;
    background-color: #ffffff;
}
.column-groups-space{
    width: 60px;
    background-color: #000000;

}
.intern-column{
    display: flex;
    justify-content: center;
}
.img_G{
    margin-top: 30px;
    width: 320px;
    height: 213px;
}
.img_NG{
    margin-top: 30px;
    width: 286px;
    height: 243px;
}
.img_F{
    margin-top: 30px;
    width: 308px;
    height: 245px;
}
.button-groups{
    margin-top: 50px;
    align-items: center;
    appearance: none;
    background-color: #d0a30f;
    border-radius: 4px;
    border-width: 0;
    box-shadow:
    rgba(247, 246, 246, 0.2) 0 2px 4px,
    rgba(255, 255, 255, 0.15) 0 7px 13px -3px,
    #ffffff 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.button-groups:focus {
    box-shadow:
    #ff9b04 0 0 0 1.5px inset,
    rgba(255, 255, 255, 0.4) 0 2px 4px,
    rgba(255, 255, 255, 0.3) 0 7px 13px -3px,
    #ff9b04 0 -3px 0 inset;
    
}
.button-groups:hover {
    box-shadow:
    rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
    #b07507 0 -3px 0 inset;
    transform: translateY(-2px);
    justify-content: space-between;
}
.button-groups:active {
    box-shadow: #dfc207 0 3px 7px inset;
    transform: translateY(2px);
}
/*
EVENTS ZONE
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.img-events-main{
    width: 100%;
    position: relative;
}
.img-private-events{
    position:absolute;
    width: 40%;
    margin-top: -160px;
    transform: translate(-215%, 5%);
}
.text-events{
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-95%, 135%); 
    color: white; 
    padding: 10px;
    font-size: 30px 
}
.events-img-main{
    position: relative;
}
.button-events{
    text-emphasis-color: white;
    align-items: center;
    appearance: none;
    background-color: #d0a30f;
    border-radius: 4px;
    border-width: 0;
    box-shadow:
    rgba(255, 255, 255, 0.2) 0 2px 4px,
    rgba(255, 255, 255, 0.15) 0 7px 13px -3px,
    #3c0909 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transform: translate(-570%, 935%); 
}
.button-events:focus {
    box-shadow:
    #ff9b04 0 0 0 1.5px inset,
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    #ff9b04 0 -3px 0 inset;
    transform: translate(-570%, 935%); 
}
.button-events:hover {
    box-shadow:
    rgba(230, 113, 3, 0.3) 0 4px 8px,
    rgba(228, 172, 5, 0.934) 0 7px 13px -3px,
    #b07507 0 -3px 0 inset;
    transform: translateY(-2px);
    justify-content: space-between;
    transform: translate(-570%, 935%); 
}
.button-events:active {
    box-shadow: #dfc207 0 3px 7px inset;
    transform: translateY(2px);
    transform: translate(-570%, 935%); 
}
.events-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000000;
    height: 2500px;
    align-items: center;
}
.container-img-events{
    display: flex;
    width: 90%;
    margin-top: 80px;
    margin-bottom: 40px;
    height: 400px;
    display: flex;
    background-color: black;
    overflow: hidden;
}
.images-events{
    width: 100%;
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5%;
    transition: transform 0.3s ease;
}
.container-img-events:hover img {
    transform: scale(1.1);
}
.text-event{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: larger;
    padding-top: 40px;
    margin-bottom: -40px;
}
.characteristics{
    width: 75%;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-top: 200px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.intern-column-event{
    display: flex;
    justify-content: center;
}
/* 
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Separate Groups MariachiBanda Section
*/
.imgMain-groups{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.mariachi-banda-main{
    position: relative;
}
.imgMain-groups-I{
    position: absolute;
    transform: translate(-425%, 90%); 
    width: 200px;
}
.button-mariachi-banda{
    text-emphasis-color: white;
    align-items: center;
    appearance: none;
    background-color: #d0a30f;
    border-radius: 4px;
    border-width: 0;
    box-shadow:
    rgba(255, 255, 255, 0.2) 0 2px 4px,
    rgba(255, 255, 255, 0.15) 0 7px 13px -3px,
    #3c0909 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transform: translate(-400%, 790%); 
}
.button-mariachi-banda:focus {
    box-shadow:
    #ff9b04 0 0 0 1.5px inset,
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    #ff9b04 0 -3px 0 inset;
    transform: translate(-400%, 790%); 
}
.button-mariachi-banda:hover {
    box-shadow:
    rgba(230, 113, 3, 0.3) 0 4px 8px,
    rgba(228, 172, 5, 0.934) 0 7px 13px -3px,
    #b07507 0 -3px 0 inset;
    transform: translateY(-2px);
    justify-content: space-between;
    transform: translate(-400%, 790%); 
}
.button-mariachi-banda:active {
    box-shadow: #dfc207 0 3px 7px inset;
    transform: translateY(2px);
    transform: translate(-400%, 790%); 
}
.mariachiBanda-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2300px;
    background-color: #000000;
}
.title-galery{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    margin-top: 4%;
    margin-bottom: 4%;
}
.section-img-mariachiB{
    justify-content: center;
    display: flex;
    width: 80%;
    height: 450px;
}
.section-img-mariachiB img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.section-img-mariachiB img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.intern-column-mariachiB{
    display: flex;
    justify-content: center;
}
.img_mariachiB{
    margin-top: 30px;
    width: 320px;
    height: 213px;
    border-radius: 70%;
    object-fit: cover;
}
.text-bands{
    color: #000000;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%
}
.column-mariachiB-container{
    align-items: center;
    width: 400px;
    background-color: #ffffff;
}
.mariachiB-container{
    background-color: rgb(255, 255, 255);
    width: 1370px;
    height: 400px;
    margin-top: 10%;
    margin-bottom: 200px;
    display: grid;
    margin-right: 5%;
    margin-left: 5%;
    grid-template-columns: repeat(5, 1fr);
}
.title-h7{
    margin-top: 10%;
    margin-left: 35%;
    font-weight: bold;
    font-size: larger;
    color: #000000;
}
.hechicera-video{
    flex-direction: column;
}
.title-video{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    margin-top: 0.5%;
    margin-bottom: 4%;
}
.title-NUEVA{
    margin-top: 20%;
    margin-left: 21%;
    font-weight: bold;
    font-size: larger;
    color: #000000;
}
.nuevaG-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1500px;
    background-color: #000000;
}
.button-banda{
    text-emphasis-color: white;
    align-items: center;
    appearance: none;
    background-color: #d0a30f;
    border-radius: 4px;
    border-width: 0;
    box-shadow:
    rgba(255, 255, 255, 0.2) 0 2px 4px,
    rgba(255, 255, 255, 0.15) 0 7px 13px -3px,
    #3c0909 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transform: translate(-400%, 1100%); 
}
.button-banda:focus {
    box-shadow:
    #ff9b04 0 0 0 1.5px inset,
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    #ff9b04 0 -3px 0 inset;
    transform: translate(-400%, 1100%); 
}
.button-banda:hover {
    box-shadow:
    rgba(230, 113, 3, 0.3) 0 4px 8px,
    rgba(228, 172, 5, 0.934) 0 7px 13px -3px,
    #b07507 0 -3px 0 inset;
    transform: translateY(-2px);
    justify-content: space-between;
    transform: translate(-400%, 1100%); 
}
.button-banda:active {
    box-shadow: #dfc207 0 3px 7px inset;
    transform: translateY(2px);
    transform: translate(-400%, 1100%); 
}

