* {
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
}
ul li {
  display: inline-block;
  padding: 0px 10px;
}
a {
  color: white;
  text-decoration: none;
}
.item1 {
  padding-top: 30px;
  padding-bottom: 0%;
}
a:hover {
  color: rgb(232, 210, 7);
}
.Navbar {
  background-color: black;
}
.Iso_logo {
  max-width: 150px;
  padding-bottom: 15px;
}
.Main_Image {
  max-width: 100%;
}

.zone_c {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 300px;
}
.zone_c1 {
  color: #ffffff;
  font-size: large;
  padding: 5%;
}
.zone_c1 h2 {
  color: #ffffff;
}
.zone_c2 {
  align-items: center;
  display: flex;
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 150px;
}
.slider-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.slide {
  min-width: 33.33%;
  box-sizing: border-box;
}
.slide img {
  width: 100%;
  display: block;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev {
  left: 0;
}

.next {
  right: 0;
}
.home_img {
  filter: brightness(10%);
  max-width: 100%;
}
.home_page1 {
  max-width: 100%;
}
.knowledge_texts {
  background-color: #000000d2;
  flex-direction: column;
  padding-top: 20px;
  border-radius: 10px;
  margin-left: 100px;
  width: 700px;
  display: flex;
  align-items: center;
  text-align: justify;
}
.subtitle1 {
  color: white;
}
.paragraph {
  font-size: large;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  text-align: inherit;
  gap: 100px;
  width: 700px;
  margin-left: 20px;
  margin-right: 20px;
}
.homemade {
  background-color: black;
  display: flex;
  align-items: center;
}
.img_container {
  width: 450px;
  height: 250px;
  margin-right: 90px;
  margin-left: 150px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.home_img1 {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
}
.comments {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 70px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
  align-items: center;
  justify-content: space-between;
}
.logo_p {
  transform: scale(0.6s);
  transform-origin: center;
}
.zone_comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}
.h3_c {
  font-style: italic;
  font-size: large;
  color: rgb(74, 74, 74);
}
.logo_p {
  width: 15%;
}
h3 {
  color: black;
}
h6 {
  color: white;
}
span {
  color: aliceblue;
  text-align: center;
}
.contacts {
  align-items: center;
  display: flex;
  background-color: rgb(51, 50, 50);
  width: 100%;
  height: 200px;
  justify-content: space-around;

  padding-bottom: 15px;
}
.contact {
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
}
.zone_contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: grey;
}
.social {
  align-items: center;
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100px;
}

.zone_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50%;
  gap: 1em;
}
.button-name {
  align-items: center;
  appearance: none;
  background-color: #d19722;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(255, 255, 255, 0.2) 0 2px 4px,
    rgba(255, 255, 255, 0.15) 0 7px 13px -3px, #000000 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

}
.button-name:focus {
  box-shadow: #ff9b04 0 0 0 1.5px inset, rgba(255, 255, 255, 0.4) 0 2px 4px,
    rgba(255, 255, 255, 0.3) 0 7px 13px -3px, #ff9b04 0 -3px 0 inset;

}
.button-name:hover {

  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #b07507 0 -3px 0 inset;
  transform: translateY(-2px);
  justify-content: space-between;

}
.button-name:active {
  box-shadow: #dfc207 0 3px 7px inset;
  transform: translateY(2px);
}
/* Section Body to the Information of Garibaldi
*/
.info {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Main_Image2 {
  max-width: 100%;
  filter: brightness(10%);
  position: relative;
}
.ours {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
}
.info-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
}
.p-info-container {
  font-size: x-large;
  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  color: #000000;
}
.taco {
  width: 100%;
}
/* Section Shows
*/

.Main_Image3 {
  width: 100%;
  filter: brightness(50%);
  position: relative;
}
.img_shows_main img {
  position: relative;
}
.container2 {
  flex-direction: column;
}
.mariachi_vivo {
  z-index: 1;
  width: 40%;
  height: 40%;
  transform: translate(75%, 50%);
}
.events {
  display: grid;
  background-color: #2c2929;
  width: 100%;
  padding-top: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shows-container {
  width: 90%;
  height: 100%;
  margin-bottom: 200px;
  margin-left: 0%;
  margin-right: 0%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  position: relative;
}
.shows {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(0 0 0 0);
}
.shows:hover {
  transform: scale(1.2);
  clip-path: inset(10% 10% 10% 10%);
}
.Image1 {
  grid-area: 1 / 1 / 2 / 2;
}

.Image2 {
  grid-area: 2 / 1 / 3 / 2;

}
.Image3 {
  grid-area: 1 / 2 / 3 / 3;
  z-index: 1;
}
.Image4 {
  grid-area: 1 / 3 / 2 / 4;
}
.Image5 {
  grid-area: 2 / 3 / 3 / 4;
}
/* Views Cart
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.img-cart1 {
  padding-top: 0%;
  display: flex;
  z-index: 1;
  width: 40%;
  height: 100%;
  transform: translate(75%, 10%);
}
.info-ayce {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.background-page {
  display: grid;
  grid-template-rows: 1140px, max-content;

}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/
.groups_img {
  position: relative;
  width: 100%;
  margin: auto;
}
.groups_m {
  width: 100%;
  height: 100%;
}
.groupings_m {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}
.home-groups {
  color: white;
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.publicity {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}
.info-groups {
  justify-content: center;
  display: flex;
  align-items: normal;
  background-color: #000000;
  width: 100%;
  height: 1000px;
}
.info-groups-text {
  text-align: center;
  color: white;
  padding-top: 100px;
  font-size: 4vw;
}
.groups-container {
  display: grid;
  background-color: #fffefe;
  align-items: center;
  flex-direction: column;
}
/*Responsive*/
@media (max-width: 800px) {
  /*Section Main*/
  .homemade {
    flex-wrap: wrap;
    justify-content: center;
  }
  .knowledge_texts {
    margin-left: 0px;
  }
  .img_container {
    margin: 0px;
    align-items: center;
  }
  .social {
    justify-content: center;
  }
  .zone_social {
    padding-left: 0%;
  }
  /*Section Body*/
  .p-info-container {
    font-size: large;
  }
  /*Section Groups*/

  .groups_img {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .groups_m {
    width: 100%;
    height: 100%;
  }
  .groupings_m {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
  }
  .home-groups {
    color: white;
    font-size: 3vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .publicity {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
  }
}
